@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
html {
    height: 100%;
}

body {
    background-color: #1d0a5a;
}

* {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

#add-post {
    cursor: pointer;
    width: 50px;
}

#post-textarea {
    resize: none;
    width: 40%;
    background-color: #1d0a5a;
    border-color: black;
    border-radius: 10px;
    color: white;
}

#main {
    display: flex;
}

#main #post-form {
    flex: 4;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-right: 1px solid white;
}

#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
}

#main #feed {
    flex: 4;
}

#main #auth {
    flex: 4;
}

#main #auth #profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#post-form img {
    width: 5%;
    padding: 1em;
    cursor: pointer;
}

#main #feed h1 {
    text-align: center;
    color: white;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}